<main class="home">
  <div class="machines">
    <div class="machines-header">Available machines:</div>
    <div class="machines-content">
      <ng-container *ngIf="machines?.length || !loaded; else noMachines">
        <div class="machines-entry" *ngFor="let machine of machines">
          <span class="machines-entry-label">{{ machine.type }}:</span>
          <span
            class="machines-entry-value"
            [class.machines-entry-value-zero]="!machine.amount"
            >{{ machine.amount }}</span
          >
        </div>
      </ng-container>
    </div>
  </div>
  <div class="home-buttons">
    <button
      class="home-refresh btn btn-primary"
      (click)="refresh()"
      [disabled]="!canRefresh"
    >
      Refresh
    </button>
    <button
      class="home-connect btn btn-primary"
      (click)="connect()"
      [disabled]="!canConnect"
    >
      Connect
    </button>
  </div>
  <!-- !REMOVE -->
  <button class="home-connect btn btn-primary" (click)="connect()">
    Connect
  </button>
</main>

<ng-template #noMachines>
  <span class="machines-entry-label machines-entry-value-zero no-machines"
    >No machines available</span
  >
</ng-template>
