@use "src/app/styles/colors";

$header-font-size: 1.2rem;
$header-margin-bottom: 0.5rem;

$content-width: 90%;
$entry-margin: 0.5rem auto;
$label-width: 76%;
$button-margin: 0.75rem;
$value-font-weight: 600;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .machines {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
      font-size: $header-font-size;
      font-weight: bold;
      text-align: center;
      margin-bottom: $header-margin-bottom;
    }

    &-content {
      width: $content-width;
    }

    &-entry {
      display: flex;
      justify-content: space-between;
      margin: $entry-margin;

      &-label {
        text-align: right;
        width: $label-width;
      }

      &-value {
        font-weight: $value-font-weight;
        color: colors.$value-color;

        &-zero {
          color: colors.$value-zero-color;
        }
      }
    }
  }

  &-buttons {
    button {
      margin: $button-margin;
    }
  }
}
