<section class="vh-100" style="background-color: #508bfc">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-4 text-center">
            <h3 class="mb-5">One Click Desktop</h3>

            <div class="form-outline mb-2">
              <input
                type="login"
                id="typeLoginX-2"
                class="form-control form-control-lg"
              />
              <label class="form-label" for="typeEmailX-2">Login</label>
            </div>

            <div class="form-outline mb-2">
              <input
                type="password"
                id="typePasswordX-2"
                class="form-control form-control-lg"
              />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
