<ng-container *ngIf="step === 0">
  <app-select-machine-type-modal
    [availableTypes]="availableTypes"
    (closeModal)="close($event)"
    (typeSelected)="typeSelected($event)"
  >
  </app-select-machine-type-modal>
</ng-container>

<ng-container *ngIf="step === 1">
  <app-creating-session-modal
    [machineType]="selectedType"
    (closeModal)="close($event)"
    (sessionReady)="sessionCreated($event)"
  >
  </app-creating-session-modal>
</ng-container>

<ng-container *ngIf="step === 2">
  <app-rdp-connection-modal
    [session]="session"
    (closeModal)="close($event)"
    (sessionEnded)="sessionEnded()"
  >
  </app-rdp-connection-modal>
</ng-container>

<button (click)="progress()"></button>
