<div class="modal-header">
  <h4 class="modal-title">Select machine type:</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="close('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-check" *ngFor="let machineType of availableTypes">
      <label class="form-check-label">
        <input
          type="radio"
          class="form-check-input"
          name="type"
          [id]="machineType.code"
          [value]="machineType"
          [(ngModel)]="type"
          required
        />
        {{ machineType.name }}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      [disabled]="!form.form.valid || !availableTypes.length"
      class="btn btn-primary"
    >
      Connect
    </button>
  </div>
</form>
