<div class="topbar">
  <div class="topbar-logo">One Click Desktop</div>

  <nav class="nav">
    <a class="nav-link" routerLink="/home" routerLinkActive="disabled">
      <i class="fa fa-home nav-link-icon" aria-hidden="true"></i>
      <div class="nav-link-text">Home</div>
    </a>
    <a class="nav-link" routerLink="/settings" routerLinkActive="disabled">
      <i class="fa fa-cog nav-link-icon" aria-hidden="true"></i>
      <div class="nav-link-text">Settings</div>
    </a>
    <a class="nav-link" onclick="logout()" routerLinkActive="disabled">
      <i class="fa fa-sign-out-alt nav-link-icon" aria-hidden="true"></i>
      <div class="nav-link-text">Log out</div>
    </a>
  </nav>
</div>
