@use "sass:math" as math;
@use "src/app/styles/colors";

$topbar-height: 65px;
$topbar-padding: 20px;

$logo-font-size: 35px;
$nav-font-size: 14px;
$icon-size: 30px;
$nav-margin: 40px;
$nav-items: 3;

.topbar {
  height: $topbar-height;
  display: flex;
  justify-content: space-between;
  padding: 0 $topbar-padding;
  background-color: colors.$topbar-background-color;
  align-items: center;

  &-logo {
    font-size: $logo-font-size;
  }

  .nav {
    width: $nav-items * $icon-size + ($nav-items - 1) * $nav-margin;
    justify-content: space-between;

    &-link {
      display: flex;
      flex-direction: column;
      padding: unset;
      align-items: center;
      cursor: pointer;

      &-icon {
        font-size: $icon-size;
      }

      &-text {
        font-size: $nav-font-size;
      }
    }
  }
}
